.card-product {
  overflow: hidden;
  height: 520px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos li {
    list-style-type: none;
    color :#D04E36;
    font-size : 24px;

}

.card-product .card-product-action {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.card-product:hover .card-product-action{
  opacity: 1;
}

.card-product .card-product-action a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.card-product .card-product-action a:hover {
  color: #555555;
}
