// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container {
  text-align: center;
  padding: 20px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: Montserrat;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}   // Using this variable

.btn {
//   background-color: #D04E36;
margin : 16px;
color : white;
font-family: montserrat;
font-size : 32px;
  a {
    color: white;
    text-decoration: none;
  }
}

.container span {
  color : #D04E36;
  font-size: 24px;
}

.inline_elements {
  display: inline-block;
}

